USE [master]
GO
/****** Object:  Database [PMS]    Script Date: 2024/11/21 13:35:45 ******/
CREATE DATABASE [PMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PMS]
GO
/****** Object:  Table [dbo].[tblDisease]    Script Date: 2024/11/21 13:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDisease](
	[DiseaseId] [int] IDENTITY(1,1) NOT NULL,
	[DiseaseName] [nchar](200) NOT NULL,
	[DiseaseDescription] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Disease] PRIMARY KEY CLUSTERED 
(
	[DiseaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDrugs]    Script Date: 2024/11/21 13:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDrugs](
	[DrugsId] [int] IDENTITY(1,1) NOT NULL,
	[Dose_MG] [decimal](10, 4) NOT NULL,
	[DrugName] [nchar](200) NOT NULL,
 CONSTRAINT [PK_tblDrugs] PRIMARY KEY CLUSTERED 
(
	[DrugsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLoginTry]    Script Date: 2024/11/21 13:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLoginTry](
	[TryIP] [varchar](16) NOT NULL,
	[DateofTry] [datetime] NOT NULL,
 CONSTRAINT [PK_tblLoginTry] PRIMARY KEY CLUSTERED 
(
	[TryIP] ASC,
	[DateofTry] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPrescriptions]    Script Date: 2024/11/21 13:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPrescriptions](
	[TreatmentId] [int] NOT NULL,
	[DrugId] [int] NOT NULL,
 CONSTRAINT [PK_tblPrescriptions] PRIMARY KEY CLUSTERED 
(
	[TreatmentId] ASC,
	[DrugId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTreatment]    Script Date: 2024/11/21 13:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTreatment](
	[TreatmentId] [int] IDENTITY(1,1) NOT NULL,
	[PrescriptionDoctorUserId] [int] NOT NULL,
	[PatientUserId] [int] NOT NULL,
	[DiseaseId] [int] NOT NULL,
 CONSTRAINT [PK_tblTreatment] PRIMARY KEY CLUSTERED 
(
	[TreatmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 2024/11/21 13:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserType] [tinyint] NOT NULL,
	[UserEmail] [varchar](200) NOT NULL,
	[UserPw] [char](64) NOT NULL,
	[RegisterIP] [varchar](16) NOT NULL,
	[RegisterDate] [datetime] NOT NULL,
	[FirstName] [nchar](40) NOT NULL,
	[LastName] [nchar](40) NOT NULL,
	[SaltOfPw] [nchar](36) NOT NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUserType]    Script Date: 2024/11/21 13:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserType](
	[UserTypeId] [tinyint] NOT NULL,
	[UserTypeName] [nchar](156) NOT NULL,
 CONSTRAINT [PK_tblUserType] PRIMARY KEY CLUSTERED 
(
	[UserTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NonClusteredIndex-20241023-105100]    Script Date: 2024/11/21 13:35:45 ******/
CREATE UNIQUE NONCLUSTERED INDEX [NonClusteredIndex-20241023-105100] ON [dbo].[tblDrugs]
(
	[Dose_MG] ASC,
	[DrugName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NonClusteredIndex-20240919-153638]    Script Date: 2024/11/21 13:35:46 ******/
CREATE UNIQUE NONCLUSTERED INDEX [NonClusteredIndex-20240919-153638] ON [dbo].[tblUser]
(
	[UserEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblUser] ADD  CONSTRAINT [DF_tblUser_RegisterDate]  DEFAULT (sysutcdatetime()) FOR [RegisterDate]
GO
ALTER TABLE [dbo].[tblDisease]  WITH CHECK ADD  CONSTRAINT [FK_tblDisease_tblDisease] FOREIGN KEY([DiseaseId])
REFERENCES [dbo].[tblDisease] ([DiseaseId])
GO
ALTER TABLE [dbo].[tblDisease] CHECK CONSTRAINT [FK_tblDisease_tblDisease]
GO
ALTER TABLE [dbo].[tblPrescriptions]  WITH CHECK ADD  CONSTRAINT [FK_tblPrescriptions_tblDrugs] FOREIGN KEY([DrugId])
REFERENCES [dbo].[tblDrugs] ([DrugsId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblPrescriptions] CHECK CONSTRAINT [FK_tblPrescriptions_tblDrugs]
GO
ALTER TABLE [dbo].[tblPrescriptions]  WITH CHECK ADD  CONSTRAINT [FK_tblPrescriptions_tblTreatment] FOREIGN KEY([TreatmentId])
REFERENCES [dbo].[tblTreatment] ([TreatmentId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblPrescriptions] CHECK CONSTRAINT [FK_tblPrescriptions_tblTreatment]
GO
ALTER TABLE [dbo].[tblUser]  WITH CHECK ADD  CONSTRAINT [FK_tblUser_tblUser] FOREIGN KEY([UserType])
REFERENCES [dbo].[tblUserType] ([UserTypeId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblUser] CHECK CONSTRAINT [FK_tblUser_tblUser]
GO
USE [master]
GO
